.board-separator {
    text-align: center;
}

.dealer-panel {
    display: inline-flex;
    text-align: center;
}

.board-wrapper {
    display: inline-block;
    margin-top: 40px;
}

.player-panel {
    display: flex;
    justify-content: center;
}