.card-body {
    max-width: 275px;
    width: 125px;
    height: 175px;
    margin: 35px 25px 55px 0;
    border: 1px solid black;
}

.card-content {
    padding: 39px;
}

.card-number {
    font-size: 30px;
}